[project]
	description = Repository for the Web User Interface to the KNoT Gateway based on angular and bootstrap
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramon Henrique (ramonhpr)
[access "refs/for/refs/*"]
	read = group user/Ramon Henrique (ramonhpr)
	push = group user/Ramon Henrique (ramonhpr)
	label-Code-Review = -2..+2 group user/Ramon Henrique (ramonhpr)
	label-Verified = -1..+1 group user/Ramon Henrique (ramonhpr)
	rebase = group user/Ramon Henrique (ramonhpr)
	removeReviewer = group user/Ramon Henrique (ramonhpr)
	submit = group user/Ramon Henrique (ramonhpr)
[access "refs/heads/*"]
	read = group user/Ramon Henrique (ramonhpr)
	create = group user/Ramon Henrique (ramonhpr)
	push = +force group user/Ramon Henrique (ramonhpr)
	pushMerge = group user/Ramon Henrique (ramonhpr)
[access "refs/tags/*"]
	push = group user/Ramon Henrique (ramonhpr)
	push = +force group user/Ramon Henrique (ramonhpr)
