[project]
	description = Repository for the Web User Interface to the KNoT Gateway based on angular and bootstrap
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramonhpr
[access "refs/for/refs/*"]
	read = group user/ramonhpr
	push = group user/ramonhpr
	label-Code-Review = -2..+2 group user/ramonhpr
	label-Verified = -1..+1 group user/ramonhpr
	rebase = group user/ramonhpr
	removeReviewer = group user/ramonhpr
	submit = group user/ramonhpr
[access "refs/heads/*"]
	read = group user/ramonhpr
	create = group user/ramonhpr
	push = +force group user/ramonhpr
	pushMerge = group user/ramonhpr
[access "refs/tags/*"]
	push = group user/ramonhpr
	push = +force group user/ramonhpr
